@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.softTransition {
		@apply transition-transform ease-in-out;
	}
}

@keyframes hoverIcon {
	from { padding: 0.25rem; }
	to { padding: 0.125rem; }
}

@keyframes unhoverIcon {
	from { padding: 0.125rem; }
	to { padding: 0.25rem; }
}

.linkHover {
	animation: ease-in-out unhoverIcon 0.25s;
}

.linkHover:hover {
	animation: ease-in-out hoverIcon 0.25s;
}